@import url('https://fonts.googleapis.com/css2?family=Gloock&family=MonteCarlo&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /* Cores  */
    --marsala: #7A1A2A;
    --creme: #F7F3E7;
    --rosa: #EBA9BD;

    /* Tipografia */
    --fonte-titulo: "Gloock", serif;
    --fonte-destaque: "MonteCarlo", cursive;
    --fonte-textos: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to bottom, var(--creme), var(--creme));
    color: var(--marsala);
    font-family: var(--fonte-textos);
}


h1, h2, h3 {
    font-family: var(--fonte-titulo);
    font-weight: 400;
}

header {
    width: 100%;
}

nav{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    color: var(--marsala);
    font-family: var(--fonte-titulo);
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
}

.menu {
    display: flex;
    list-style: none;
    gap: 30px;
    z-index: 100;
}

.menu a {
    position: relative;
    color: var(--marsala);
    text-decoration: none;
    font-family: var(--fonte-textos);
    font-size: 14px;
    font-weight: 500;
    transition: color 0.4s ease;
}

.menu a:hover {
    color: var(--rosa);
}

.menu a::after {
    content: "";
    position: absolute;
    background-color: var(--rosa);
    width: 100%;
    height: 1px;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.menu a:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

.destaque {
    font-family: var(--fonte-destaque);
    font-size: 32px;
}

.hero {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 75vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
}

.hero-conteudo {
    max-width: 520px;
}

.hero-subtitulo {
    display: block;
    font-family: var(--fonte-textos);
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 18px;
}

.hero-h1 {
    font-family: var(--fonte-titulo);
    font-size: clamp(42px, 6vw, 64px);
    font-weight: 400;
    line-height: 1.05;
    margin-bottom: 24px;
}

.hero-conteudo p {
    max-width: 470px;
    font-family: var(--fonte-textos);
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 32px;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    padding: 14px 24px;
    background-color: var(--marsala);
    color: var(--creme);
    font-family: var(--fonte-textos);
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 999px;
    transition: 
        background-color 0.3s ease,
        transform 0.3s ease;
}

.button:hover {
    color: var(--marsala);
    background-color: var(--rosa);
    transform: translateY(-2px);
}

.hero-imagem {
    width: 100%;
    aspect-ratio: 4/5;
    overflow: hidden;
    border-radius: 220px 220px 20px 20px;
}

.hero-imagem img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.hero-imagem img:hover {
    transform: scale(1.03);
}

.menu-toggle {
    display: none;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    padding: 0;
    border: none;
    background: transparent;
    color: var(--marsala);
    font-size: 28px;
    cursor: pointer;
}

.sobre {
    display: grid;
    grid-template: 1fr 1fr;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 80px;
    padding-top: 100px;
}

.sobre-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 80px;
}

.sobre-imagem {
    width: 100%;
    aspect-ratio: 4/5;
    overflow: hidden;
    border-radius: 220px 220px 20px 20px;
}

.sobre-imagem img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s ease;
}

.sobre-imagem img:hover {
    transform: scale(1.03);
}

.sobre-subtitulo {
    display: block;
    font-family: var(--fonte-textos);
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 18px;
}

.sobre-conteudo h2 {
    font-family: var(--fonte-titulo);
    font-size: clamp(42px, 6vw, 64px);
    font-weight: 400;
    line-height: 1.05;
    margin-bottom: 18px;
}

.sobre-conteudo p {
    max-width: 470px;
    font-family: var(--fonte-textos);
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 32px;
}

.produtos {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

.produtos-cabecalho {
    max-width: 650px;
    margin-bottom: 60px;
}

.produtos-cabecalho h2 {
    font-family: var(--fonte-titulo);
    font-size: clamp(38px, 5vw, 58px);
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 20px;
}

.produtos-cabecalho p {
    max-width: 550px;
    font-family: var(--fonte-textos);
    font-size: 16px;
    line-height: 1.7;
}

.produtos-subtitulo {
    display: block;
    font-family: var(--fonte-textos);
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 18px;
}

.produto-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.produto-card {
    background-color: var(--marsala);
    overflow: hidden;
}

.produto-imagem {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.produto-imagem img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 0.6s ease;
}

.produto-imagem img:hover{
    transform: scale(1.53);
}

.produto-info {
    padding: 24px;
}

.produto-info h3 {
    font-family: var(--fonte-titulo);
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 10px; 
    color: var(--creme);
}

.produto-info p {
    font-family: var(--fonte-textos);
    font-size: 14px;
    line-height: 1.7;
    color: var(--creme);
}

/* Para compatibilidade mobile */

@media (max-width: 768px) {

    .menu-toggle {
        display: flex;
    }

    .menu {
        position: absolute;
        display: flex;
        top: 100%;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding: 30px 0;
        background-color: var(--creme);
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition:
            opacity 0.3s ease,
            transform 0.3s ease,
            visibility 0.3s ease;
    }

    .menu.aberto{
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .menu.fechado{
        display: none
    }

    .icone-fechar {
        display: none;
    }

    .menu-toggle.ativo .icone-menu{
        display: none;
    }

    .menu-toggle.ativo .icone-fechar {
        display: block;
    }

    .hero {
        grid-template-columns: 1fr;
        gap: 40px;
        padding: 40px 0;
    }

    .sobre {
        padding: 60px 0;
    }

    .sobre-container {
        grid-template-columns: 1fr;
        gap: 40px;
        padding: 40px 0;
    }

    .produtos-grid {
        grid-template-columns: 1fr;
        gap: 40px;
    }
}
