nav{
    background-color: #7a1a2a;
    padding: 5px
}

img{
    background-color: #7a1a2a;
}

body{
    background-color: #eba9bd;
    font-family: Montserrat;
    color: #f7f3e7
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 40px
}

a{
    color: #F7F3E7;
    text-decoration: none;
    font-family: Gloock, cursive
}

h2{
    font-family:MonteCarlo, cursive;
    color: #f7f3e7
}

footer{
    color: #f7f3e7
}